<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practitioner Login</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container">
    <h1>Practitioner Login</h1>
    <form action="/practitioner-login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    </div>
</body>
</html>
